{% extends 'mainnav.html' %}
{% block nav %}


<head>
    <title>gallery</title>
    <style>
  
    .gal{

        background-color:rgb(143, 120, 120);
        border :white 5px  solid;
        width: 24%;
        float: left;
        color: rgb(50, 23, 124);
        border-radius: 50px;
        padding: 50px;
        
    }
    h3{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    img{
        width: 100%;
        height: 350px;
        border-radius: 80px;
    }
    img:hover{
        zoom: normal;
    }
    
</style>
 </head>
    
 


    <!-- <h1><u>Cakes</u></h1> -->
    <div class="gal">
        <!-- <h3>image1</h3> -->
        <img src="../static/images/nuty_fantacy.jpg" alt="hh">
      
</div>
    <div class="gal">
        <!-- <h3>image2</h3> -->
        <img src="../static/images/nutybubbles.jpg" alt="">
      
    </div>
    <div class="gal">
        <!-- <h3>image3</h3> -->
        <img src="../static/images/mango.jpg" alt="">
      
    </div><br>
    <div class="gal">
        <!-- <h3>image4</h3> -->
        <img src="../static/images/black-forest-cake-thumb.jpg" alt="">
   
    </div>
    <div class="gal">
        <!-- <h3>image1</h3> -->
        <img src="../static/images/chocoflakes.jpg" alt="hh">
      </div>
    <div class="gal">
        
        <img src="../static/images/Double_Chocolatee-600x600w.jpg.webp" alt="">
       
    </div><br>
    <!-- <div class="gal">
         <h3>image3</h3> -->
        <!-- <img src="../static/images/honeycake.jpg" alt=""> -->
        
    </div> </div>
    
    <div>
     
    
    
    <div class="gal">
        <!-- <h3>image1</h3> -->
        <img src="../static/images/desserts/aniseed-and-chocolate-parfait.jpg" alt="hh">
       
    </div> 

    <div class="gal">
        <!-- <h3>image2</h3> -->
        <img src="../static/images/desserts/apple-berry-crumble.jpg" alt="">
       
    </div>
    <div class="gal">
        <!-- <h3>image3</h3> -->
        <img src="../static/images/desserts/caramelpudding.jpg" alt="">
       
    </div>
    <div class="gal">
        <!-- <h3>image4</h3> -->
        <img src="../static/images/desserts/chocolate-bullets.jpg" alt="">
        
    </div>
    <div class="gal">
        <!-- <h3>image1</h3> -->
        <img src="../static/images/desserts/gulab-jamun.jpg" alt="hh">
    
    </div>
    <div class="gal">
        
        <img src="../static/images/desserts/roasted-strawberry-crumble.jpg" alt="">
      
    </div>
    <div class="gal">
        <!-- <h3>image3</h3> -->
        <img src="../static/images/desserts/snickers-rolls.jpg" alt="">
       
    </div>
    <div class="gal">
        <!-- <h3>image4</h3> -->
        <img src="../static/images/desserts/blackberry-lemonfool.jpg" alt="">
      
    </div>
    <div class="gal">
        <!-- <h3>image4</h3> -->
        <img src="../static/images/desserts/floating-island.jpg" alt="">
       
    </div>
</div>
    </div>
    

{% endblock  %}