{% extends 'navbar.html' %}
{% block nav %}
{% comment %} 
      <h1 class="bg-secondary text-dark text-center">CakeZone</h1>
      <h2>Welcome,{{request.user.first_name}} {{request.user.last_name}}
  {% if messages %}
  {% for i in messages %}
  {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{i}}</strong>
  </div>
  {%endif%}

  {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{i}}</strong>
  </div>
  {%endif%}
  {%endfor%}
  {%endif%} {% endcomment %}
  <h3 class="my-4 border-bottom- pb-1"><span class="text-muted">Search result :</h3>
      <div class="row jumbortin p-3 ml-3 mr-3">
        {%if searchpro %}
        {% for i in searchpro %}
        <div class="card col-3"  style="width: 18rem;">
              <img class="card-img-top" height ="350px" src="{{i.image.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">
                    {{i.category}}
                </p>
                <p class="card-text">
                   Rs:{{i.price}}
                </p>
                <p class="card-text">
                    {{i.weight}}kg
                </p>
                <a href="{% url 'pdet' i.id %}" class="stretched-link"></a>
              </div>
              
            </div>
            {% empty %}
            <p> No product Found.</p>
          </div>
          {% endfor %}
          {% else %}

          {% for i in searchcat %}
        <div class="card col-3"  style="width: 18rem;">
              <img class="card-img-top" height ="350px" src="{{i.image.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">
                    {{i.category}}
                </p>
                <p class="card-text">
                   Rs:{{i.price}}
                </p>
                <p class="card-text">
                    {{i.weight}}kg
                </p>
                <a href="{% url 'pdet' i.id %}" class="stretched-link"></a>
              </div>
              
            </div>
            {% empty %}
            <p> No product Found.</p>
          </div>
          {% endfor %}
          {% endif %}
      </div>
      {% comment %} {{data}} {% endcomment %}



      
{% endblock %}

     